* {
  display: 100vh;
  box-sizing: border-box;
}

.form-outline {
  margin-top: 10px;
  margin-bottom: 50px;
}

/* .img {
  object-fit: cover;
  height: 150px;
  width: 100%;
  margin-bottom: 30px;
} */

.image-one {
  height: 180px;
  width: 100%;
}

.image-two {
  height: 180px;
  width: 100%;
}

.image-three {
  height: 180px;
  width: 100%;
}

.image-four {
  height: 180px;
  width: 100%;
}

.image-five {
  height: 180px;
  width: 100%;
}

.image-six {
  height: 180px;
  width: 100%;
}

.image-seven {
  height: 180px;
  width: 100%;
}

.image-eight {
  height: 180px;
  width: 100%;
}

.image-nine {
  height: 180px;
  width: 100%;
}

.custom-border {
  margin-bottom: 20px;
}

.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.map-height {
  height: 500px;
}

.frame-info {
  border: 0;
}

.btn-submit {
  margin-top: 20px;
}
